---
import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";

const {
  content: { title },
  headings,
} = Astro.props;
---

<Layout title={title}>
  <Nav />
  <div class="flex-1 grid grid-cols-2 md:grid-cols-4 gap-10 px-2 md:px-32 mt-8">
    <aside class="sticky self-start top-12 invisible hidden sm:block sm:visible overflow-y-auto max-h-80">
      <div>
        <h2 class="font-semibold">Table of Contents</h2>
        <ul class="mt-4 text-xs space-y-2">
          {
            headings.map(({ slug, text, depth }) => (
              <li class="line-clamp-2 hover:text-accent">
                <a
                  class="text-base"
                  href={`#${slug}`}
                  aria-label={`Scroll to section: ${text}`}
                >
                  <span>{"#".repeat(depth)}</span> {text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </aside>

    <article
      class="col-span-2 md:col-span-3 prose prose-md prose-cactus prose-headings:font-semibold table-auto prose-headings:before:text-accent prose-headings:before:absolute prose-headings:before:-ml-4 prose-th:before:content-none"
    >
      <h1 class="title text-gradient my-8">{title}</h1>
      <slot />
    </article>
  </div>
</Layout>
